*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* width: 100vw;*/
    /* height: 100vh;  */
    display: flex;
}

#container{
    width: 85%;
    /* height: 3000px; */
    display: flex;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}

.left{
    width: 100%;
    height: 100%;
    background-color: orange;
    position: fixed;
    z-index: 0;
}

.new-div{
    height:500px;
    width: 700px;
    background-color: orange;
    margin-top: 100px;
    /* margin-left: 300px; */
    /* background-image: url("https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp"); */

}

.thumbnail{
    height:400px;
    width: 700px;
    /* background-color: rgb(255, 0, 0); */
    border: 4px solid orange;
}

input{
    height: 30px;
    width: 300px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}

#form1{
    
    /* background-color: rgba(136, 0, 255, 0.566); */
    background-image: url("https://images.app.goo.gl/rfUh5UFc83qxbHhZ8");
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    visibility: hidden;
}

