*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #97dcff;
    width: 100vw;
    height:100vh;
}

.trunk{
    width:100%;
    height: 92%;
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
   
}


#himg{
    width:400px;
    height:300px;
    border: 2px solid black;
    margin: 50px;
}

#welcome,#start,#letsgo{
    width: 300px;
    background-color: rgb(252, 254, 227);
    position: absolute;
    margin-top:80px;
    margin-left: 630px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#start{
    margin-top:130px;
    width: 500px;
    margin-left:530px;
}


#letsgo{
    margin-bottom:-320px;
    margin-left:0px;
    font-size: 30px;
    height: 40px;
    background-color: #17465e;
    color: rgb(252, 254, 227);
}


