*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    width: 100vw;
    height: 60px;
    background-color:#355464 ;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
    border-bottom:2px solid white; ;
}


ul{
    width: 35%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-left: 100px;
    font-size: 30px;
}
.textlogo{
    width:227px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    align-items: center;
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.li{
    width: 120px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
}

#logo{
    height: 100%;
    width: 15%;
    margin-left: 0px;
    background-color: white;
}

#logoimg{
    margin-left: -140px;
}

#logo:hover{
    background-color: white;
}

.btn{   
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    /* border-color: green; */
    height: 40px;
    width: 375px;
    /* border: 2px solid black; */
    margin-left: 100px;
}

.option-btn{
    color: white;
    width: 100px;
    border-radius: 10px;
    border-color: orange;
} 

#btn{
    text-align: center;
    text-decoration: none;
    color: orange;
    width: 150px;
    height: 100%;  
    /* margin-left: -100px;  */
    /* border:2px solid green; */
    border-radius: 10px;
}

#btn:hover,.option-btn:hover{
    background-color:rgb(255, 145, 0);
    color: white;
    
}

#li{
    text-decoration: none;
    text-align: center;
    color: white;
    width: 150px;
    height: 100%;   
    /* border:2px solid rgb(255, 0, 0); */
    /* border-radius: 10px; */
    
}

.nav-link{
    color: white;
    width: 150px;
    /* border:2px solid black; */
    border-radius: 10px;
    /* border-color: black; */
    display: flex;
    justify-content: center;
} 

#li:hover,.nav-link:hover{
    color: black;
}

#profile{
    /* border-radius: 50%; */
    height: 40px;
    width: 40px;
    /* border: 2px solid rgb(0, 0, 0); */
}

#logout{
    height: 40px;
    width: 40px;
    margin-left: 50px;
    border-radius: 50%;

}
