*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    /* background-color: orangered; */
    /* border: 5px solid aqua; */

}

#bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
body{
    display: flex;
    height: 100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    background-image: url("{{ url_for('static', filename='loginbg.jpg') }}");
    background-size: cover;
    /* background-color: orangered; */
} 

.container{
    border: 2px solid rgb(0, 0, 0);
    height: 400px;
    width:400px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 12px rgb(0, 0, 0);
    
}

.profile{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    margin-top: -400px;
    position: absolute;
    
}

#username,#password,#adminname,#name{
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: medium;
}

button{
    height: 35px;
    width: 300px;
    font-size: large;
    /* margin-left: 35%; */
    
    border-color: green;
    background-color: white;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover{
    background-color:green;
    color: white;
}

